* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.app {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.app.few {
  background-image: url("./assets/few.jpg");
}
.app.scattered {
  background-image: url("./assets/scattered.jpg");
}
.app.broken  {
  background-image: url("./assets/broken.jpg");
}
.app.shower {
  background-image: url("./assets/shower.jpg");
}
.app.rain {
  background-image: url("./assets/rain.jpg");
}
.app.thunderstorm {
  background-image: url("./assets/thunderstorm.jpg");
}
.app.snow {
  background-image: url("./assets/snow.jpg");
}
.app.mist {
  background-image: url("./assets/mist.jpg");
}

.container{
  margin: auto;
  text-align: center;
  max-width: 450px;
}

main {
  background: rgb(65,65,65);
  background: linear-gradient(180deg, rgba(65,65,65,0.8407738095238095) 0%, rgba(28,28,28,0.8743872549019608) 100%);
  min-height: 100vh;
  padding: 20px;
}

.title{
  margin: auto;
  padding-bottom: 20px;
  border-radius: 16px;
  width: 100%;
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  text-shadow: 2px 2px rgba(17, 19, 27, 0.521);
  text-align: center;
}

.search-box {
  width: 100%;
  margin: 20px auto;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  margin: auto;
  padding: 10px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background: #ffffffb4;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.5s;
}
.search-box .search-bar:focus{
  box-shadow: 0 0 10px  rgba(36, 41, 57, 0.521);
  background: #ffffffcb;
  width: 100%;
  padding: 20px;
}

.location-box .location {
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  text-shadow: 3px 3px rgba(36, 41, 57, 0.521);
}

.weather-box{
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  width: 60%;
  margin: 30px auto;
  padding: 15px 25px;
  border-radius: 20px;
  background-color: #eb532a;
  box-shadow: 0 0 10px  rgba(36, 41, 57, 0.521);
  color: rgb(224, 224, 224);
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(59, 59, 59, 0.521);
  text-align: center;
}

.weather{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  padding: 10px;
  background: #ffffffb4;
  border-radius: 10px;
  font-size: 30px;
  transition: 0.5s;
}

.container-var{
  max-width: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.max-temp, .min-temp{
  margin: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(36, 41, 57, 0.521);
}
.primary-color{
  color: #eb532a;
}